{% extends 'base.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <a href="{{path('builder-pattern')}}"><h2>Builder pattern</h2></a>
    <a href="{{path('singleton-pattern')}}"><h2>Singleton pattern</h2></a>
    <a href="{{path('observer-pattern')}}"><h2>OBSERVER pattern</h2></a>
    <a href="{{path('factoryMethod-pattern')}}"><h2>Factory Method pattern</h2></a>
    <a href="{{path('abstractFactory-pattern')}}"><h2>Abstract Factory pattern</h2></a>
    <a href="{{path('flyweight-pattern')}}"><h2>Flyweight pattern</h2></a>
</div>
{% endblock %}
